#
# copy this file to .env to be picked up by docker-compose
#
# see https://github.com/novuhq/novu/pkgs/container/novu%2Fapi to find version
IMAGE_VERSION=0.24.0

# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
JWT_SECRET=<Must be 128 bits (16 chars)>>
STORE_ENCRYPTION_KEY=<ENCRYPTION_KEY_MUST_BE_32_LONG>

# General
NODE_ENV=local

MONGO_PORT=27017
MONGO_MAX_POOL_SIZE=500

FORWARD_MINIO_CONSOLE_PORT=9090
FORWARD_MINIO_PORT=9000

REDIS_PORT=6379
REDIS_CACHE_SERVICE_PORT=6379
REDIS_HOST=redis
REDIS_CACHE_SERVICE_HOST=
REDIS_PASSWORD=

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=<4_CHARS>
AWS_SECRET_ACCESS_KEY=<7_CHARS>

S3_BUCKET_NAME=local-notifications
S3_REGION=us-east-1

# Novu Ports
API_PORT=3000
WS_PORT=3002
APP_PORT=4200
WIDGET_PORT=4500
WIDGET_EMBED_PORT=4701

DISABLE_USER_REGISTRATION=false

# Context Paths
# Only needed for setups with reverse-proxies
GLOBAL_CONTEXT_PATH=
WEB_CONTEXT_PATH=
API_CONTEXT_PATH=
WS_CONTEXT_PATH=
WIDGET_CONTEXT_PATH=

# Analytics
SENTRY_DSN=
NEW_RELIC_APP_NAME=
NEW_RELIC_LICENSE_KEY=
