name: "Deploy to Nuget"
on:
  push:
    tags:
      - "v*.*.*"

env:
  PROJECT_PATH: "./src/Novu/Novu.csproj"
  PACKAGE_OUTPUT_DIRECTORY: ${{ github.workspace }}\output
  NUGET_SOURCE_URL: "https://api.nuget.org/v3/index.json"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      ## Restore Novu
      - name: Restore dependencies
        working-directory: ./src/Novu
        run: dotnet restore

      ## Build Novu
      - name: Build Novu
        working-directory: ./src/Novu
        run: dotnet build --no-restore

        ## Restore Novu.Tests
      - name: Restore test dependencies
        working-directory: ./src/Novu.Tests
        run: dotnet restore

      ## Test Novu
      - name: Test
        working-directory: ./src/Novu.Tests
        run: dotnet test
        env:
          NOVU_API_KEY: ${{ secrets.NOVU_API_KEY }}

  deploy:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Build Novu
        working-directory: ./src/Novu
        run: dotnet build --configuration Release

      - name: Get version
        id: version
        uses: battila7/get-version-action@v2

      - name: Create Nuget package
        run: dotnet pack ${{ env.PROJECT_PATH }} --no-restore --no-build --configuration Release --include-symbols -p:PackageVersion=${{ steps.version.outputs.version-without-v }} --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }}

      - name: Push Nuget package
        run: dotnet nuget push ${{ env.PACKAGE_OUTPUT_DIRECTORY}}\*.nupkg -k ${{ secrets.NUGET_AUTH_TOKEN }} -s ${{ env.NUGET_SOURCE_URL}}
